{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1>Two Factor Authentication Setup</h1>
    <p>You are almost done! Please start OTPGenerator app on your smartphone and scan the following QR Code with it: | OR Run the otp generator script with the QR code visible on the screen </p>
    <p><img id="qrcode" src="{{ url_for('qrcode') }}"></p>
    <p>I'm get the secret code , take me to the <a href="{{ url_for('login') }}">Login</a> page!</p>
{% endblock %}
